*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin-top: 10vh;
    background-image: linear-gradient(to right, rgb(116, 202, 221), rgb(109, 140, 172));
}

h1{
    text-align: center;
    margin: 10px 0px;
}

.input{
    display: flex;
    justify-content: center;
}

#input-box{
    position: static;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.input button{
    width: 100px;
    height: 40px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


ul{
    padding-left: 80px;
    width: 50%; /* or any fixed width */
    margin: 0 auto;
    height: 70vh;
    overflow-y: auto;
      
}

ul li{
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 600px;
    height: 80px;
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(162, 162, 162);
}

ul li:hover{
    transform: scale(1.05);
    
}

span{
    position: absolute;
    right: 14px;
    top: 30px;
    cursor: pointer;

}
input{
    position: absolute;
    left: 12px;
    bottom: 10px; 
    width: 480px;  
    height: 40px;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

input:focus {
    outline: none;
}
p{
    position: absolute;
    left: 12px;
    bottom: 10px; 
    width: 480px;  
    height: 40px;
    background: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 10px;

}